.bg-nav {
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.mt-100 {
    margin-top: 100px;
}

body {
    font-family: "Poppins", "Montserrat" ,sans-serif;
}

.nav-item{
    /* padding: 10px 15px; */
    margin: 0 30px;
}

.navbar-brand img {
    max-height: 100%; /* Keeps the image responsive */
    width: auto;      /* Maintains aspect ratio */
}

.mt-14 {
    margin-top: 14vh;
}

.card {
    color: white;
    background-color: rgba(59, 1, 70, 0.7); /* Black background with 70% opacity */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition: transform 0.3s; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}
